In [40]:
import pandas as pd
import numpy as np

# EDA

### test data

##### err

In [14]:
test_err = pd.read_csv('./data/test_err_data.csv')
test_err

          user_id            time model_nm       fwver  errtype errcode
0           30000  20201101030227  model_1  04.16.3553       31       1
1           30000  20201101030227  model_1  04.16.3553       33       2
2           30000  20201101030228  model_1  04.16.3553       15       1
3           30000  20201101030256  model_1  04.16.3553       22       1
4           30000  20201101030300  model_1  04.16.3553       11       1
...           ...             ...      ...         ...      ...     ...
16532643    44998  20201130210050  model_1  04.16.3553       40       0
16532644    44998  20201130211831  model_1  04.16.3553       31       1
16532645    44998  20201130211832  model_1  04.16.3553       15       1
16532646    44998  20201130212259  model_1  04.16.3553       16       1
16532647    44998  20201130212316  model_1  04.16.3553       31       0

[16532648 rows x 6 columns]

##### quality

In [12]:
test_quality = pd.read_csv('./data/test_quality_data.csv')
test_quality

,time,user_id,fwver,quality_0,quality_1,quality_2,quality_3,quality_4,quality_5,quality_6,quality_7,quality_8,quality_9,quality_10,quality_11,quality_12
0,20201128195000,30000,04.33.1261,0.0,0,0.0,0,0,0,0,5,0,0,2,0,0
1,20201128195000,30000,04.33.1261,0.0,0,0.0,0,0,0,0,5,0,0,2,0,0
2,20201128195000,30000,04.33.1261,0.0,0,0.0,0,0,0,0,5,0,0,2,0,0
3,20201128195000,30000,04.33.1261,0.0,0,0.0,0,0,0,0,5,0,0,2,0,0
4,20201128195000,30000,04.33.1261,0.0,0,0.0,0,0,0,0,5,0,0,2,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
747967,20201125180000,44997,04.22.1750,0.0,0,0.0,0,0,2,0,0,0,0,3,0,0
747968,20201125180000,44997,04.22.1750,0.0,0,0.0,0,0,0,0,0,0,0,3,0,0
747969,20201125180000,44997,04.22.1750,0.0,0,0.0,0,0,0,0,0,0,0,3,0,0
747970,20201125180000,44997,04.22.1750,0.0,0,0.0,0,0,0,0,0,0,0,3,0,0
747971,20201125180000,44997,04.22.1750,0.0,0,0.0,0,0,0,0,0,0,0,3,0,0

In [32]:
test_quality.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 747972 entries, 0 to 747971
Data columns (total 16 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   time        747972 non-null  int64
 1   user_id     747972 non-null  int64
 2   fwver       725208 non-null  object
 3   quality_0   641388 non-null  float64
 4   quality_1   747961 non-null  object
 5   quality_2   726857 non-null  float64
 6   quality_3   747972 non-null  int64
 7   quality_4   747972 non-null  int64
 8   quality_5   747928 non-null  object
 9   quality_6   747972 non-null  int64
 10  quality_7   747972 non-null  object
 11  quality_8   747972 non-null  object
 12  quality_9   747972 non-null  object
 13  quality_10  747972 non-null  object
 14  quality_11  747972 non-null  int64
 15  quality_12  747972 non-null  int64
dtypes: float64(2), int64(7), object(7)
memory usage: 91.3+ MB

In [41]:
np.unique(test_quality['quality_0'], return_counts = True)

(array([-1.,  0.,  1., ..., nan, nan, nan]),
 array([127001, 505710,   2319, ...,      1,      1,      1], dtype=int64))

In [30]:
len(test_quality['quality_2'].unique())

597

In [38]:
print(641388/747972)
print(641388/541)

0.8575026872663682
1185.5600739371534

In [34]:
726857/747972

0.9717703336488531

### train_data

##### err

In [5]:
train_err = pd.read_csv('./data/train_err_data.csv')
train_err

          user_id            time model_nm       fwver  errtype errcode
0           10000  20201101025616  model_3  05.15.2138       15       1
1           10000  20201101030309  model_3  05.15.2138       12       1
2           10000  20201101030309  model_3  05.15.2138       11       1
3           10000  20201101050514  model_3  05.15.2138       16       1
4           10000  20201101050515  model_3  05.15.2138        4       0
...           ...             ...      ...         ...      ...     ...
16554658    24999  20201130163051  model_3  05.15.2138       15       1
16554659    24999  20201130172625  model_3  05.15.2138       16       1
16554660    24999  20201130172625  model_3  05.15.2138        4       0
16554661    24999  20201130172631  model_3  05.15.2138        4       0
16554662    24999  20201130210625  model_3  05.15.2138       15       1

[16554663 rows x 6 columns]

In [16]:
train_err.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16554663 entries, 0 to 16554662
Data columns (total 6 columns):
 #   Column    Dtype
---  ------    -----
 0   user_id   int64
 1   time      int64
 2   model_nm  object
 3   fwver     object
 4   errtype   int64
 5   errcode   object
dtypes: int64(3), object(3)
memory usage: 757.8+ MB

#####  problem

In [8]:
train_problem = pd.read_csv('./data/train_problem_data.csv')
train_problem

      user_id            time
0       19224  20201102200000
1       23664  20201116140000
2       15166  20201114130000
3       12590  20201108210000
4       15932  20201103210000
...       ...             ...
5424    20167  20201125120000
5425    16270  20201110120000
5426    19114  20201106230000
5427    21505  20201104110000
5428    18822  20201102120000

[5429 rows x 2 columns]

In [17]:
train_problem.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5429 entries, 0 to 5428
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   user_id  5429 non-null   int64
 1   time     5429 non-null   int64
dtypes: int64(2)
memory usage: 85.0 KB

##### quality

In [65]:
train_quality = pd.read_csv('./data/train_quality_data.csv',thousands = ',')
train_quality

,time,user_id,fwver,quality_0,quality_1,quality_2,quality_3,quality_4,quality_5,quality_6,quality_7,quality_8,quality_9,quality_10,quality_11,quality_12
0,20201129090000,10000,05.15.2138,0.0,0,0.0,0,0,0.0,0,0,0,0,4,0,0
1,20201129090000,10000,05.15.2138,0.0,0,0.0,0,0,0.0,0,0,0,0,4,0,0
2,20201129090000,10000,05.15.2138,0.0,0,0.0,0,0,0.0,0,0,0,0,4,0,0
3,20201129090000,10000,05.15.2138,0.0,0,0.0,0,0,0.0,0,0,0,0,4,0,0
4,20201129090000,10000,05.15.2138,0.0,0,0.0,0,0,0.0,0,0,0,0,4,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
828619,20201124033000,24997,04.22.1778,0.0,0,0.0,0,0,1.0,0,0,0,0,17,0,0
828620,20201124033000,24997,04.22.1778,0.0,0,0.0,0,0,0.0,0,0,0,0,17,0,0
828621,20201124033000,24997,04.22.1778,0.0,0,0.0,0,0,3.0,0,0,0,0,17,0,0
828622,20201124033000,24997,04.22.1778,0.0,0,0.0,0,0,0.0,0,0,0,0,17,0,0
828623,20201124033000,24997,04.22.1778,0.0,0,0.0,0,0,9.0,0,0,0,0,17,0,0

In [73]:
train_quality.fwver

0         05.15.2138
1         05.15.2138
2         05.15.2138
3         05.15.2138
4         05.15.2138
             ...
828619    04.22.1778
828620    04.22.1778
828621    04.22.1778
828622    04.22.1778
828623    04.22.1778
Name: fwver, Length: 828624, dtype: object

In [71]:
train_quality.corr()

,time,user_id,quality_0,quality_1,quality_2,quality_3,quality_4,quality_5,quality_6,quality_7,quality_8,quality_9,quality_10,quality_11,quality_12
time,1.000000,-0.001218,-0.003262,0.001618,-0.002101,NaN,NaN,0.002549,-0.012737,-0.015707,0.003519,-0.004334,0.004219,0.000724,0.026708
user_id,-0.001218,1.000000,0.006651,-0.002403,0.003458,NaN,NaN,-0.002757,-0.017612,-0.021609,0.004222,0.007148,-0.004560,-0.007521,0.019467
quality_0,-0.003262,0.006651,1.000000,0.004306,0.999535,NaN,NaN,0.067673,-0.000135,0.000681,-0.001136,0.531695,0.032338,0.006627,0.009599
quality_1,0.001618,-0.002403,0.004306,1.000000,0.002976,NaN,NaN,0.010617,0.028869,0.016226,0.619596,-0.001262,0.001312,0.562785,0.002337
quality_2,-0.002101,0.003458,0.999535,0.002976,1.000000,NaN,NaN,0.068949,0.001121,0.000644,-0.000181,0.478036,0.029388,0.006914,0.004986
quality_3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
quality_4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
quality_5,0.002549,-0.002757,0.067673,0.010617,0.068949,NaN,NaN,1.000000,0.008326,0.009076,0.000228,0.037116,0.621752,0.024101,0.037750
quality_6,-0.012737,-0.017612,-0.000135,0.028869,0.001121,NaN,NaN,0.008326,1.000000,0.810524,0.000779,0.001073,0.012187,0.043297,-0.006372
quality_7,-0.015707,-0.021609,0.000681,0.016226,0.000644,NaN,NaN,0.009076,0.810524,1.000000,0.000982,0.001351,0.015014,0.026689,-0.007758
quality_8,0.003519,0.004222,-0.001136,0.619596,-0.000181,NaN,NaN,0.000228,0.000779,0.000982,1.000000,-0.000389,0.000378,-0.000689,0.010314
quality_9,-0.004334,0.007148,0.531695,-0.001262,0.478036,NaN,NaN,0.037116,0.001073,0.001351,-0.000389,1.000000,0.061430,-0.001106,0.010548
quality_10,0.004219,-0.004560,0.032338,0.001312,0.029388,NaN,NaN,0.621752,0.012187,0.015014,0.000378,0.061430,1.000000,0.005839,0.062462
quality_11,0.000724,-0.007521,0.006627,0.562785,0.006914,NaN,NaN,0.024101,0.043297,0.026689,-0.000689,-0.001106,0.005839,1.000000,0.056308
quality_12,0.026708,0.019467,0.009599,0.002337,0.004986,NaN,NaN,0.037750,-0.006372,-0.007758,0.010314,0.010548,0.062462,0.056308,1.000000

In [72]:
train_quality.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 828624 entries, 0 to 828623
Data columns (total 16 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   time        828624 non-null  int64
 1   user_id     828624 non-null  int64
 2   fwver       788544 non-null  object
 3   quality_0   684192 non-null  float64
 4   quality_1   828624 non-null  int64
 5   quality_2   788511 non-null  float64
 6   quality_3   828624 non-null  int64
 7   quality_4   828624 non-null  int64
 8   quality_5   828604 non-null  float64
 9   quality_6   828624 non-null  int64
 10  quality_7   828624 non-null  int64
 11  quality_8   828624 non-null  int64
 12  quality_9   828624 non-null  int64
 13  quality_10  828624 non-null  int64
 14  quality_11  828624 non-null  int64
 15  quality_12  828624 non-null  int64
dtypes: float64(3), int64(12), object(1)
memory usage: 101.2+ MB

In [35]:
684192/828624

0.8256965764930777

In [36]:
788511/828624

0.9515908300990558

In [20]:
train_quality.columns

Index(['time', 'user_id', 'fwver', 'quality_0', 'quality_1', 'quality_2',
       'quality_3', 'quality_4', 'quality_5', 'quality_6', 'quality_7',
       'quality_8', 'quality_9', 'quality_10', 'quality_11', 'quality_12'],
      dtype='object')

In [57]:
arr = train_quality['quality_0']
arr[(arr>0)].unique()

array([2.00000e+00, 1.00000e+00, 3.00000e+00, 7.00000e+00, 6.00000e+00,
       4.08800e+03, 1.29000e+02, 3.18600e+03, 2.96000e+02, 1.70000e+01,
       6.30000e+01, 1.00000e+01, 9.04000e+02, 4.00000e+00, 3.79000e+03,
       1.62180e+04, 1.06280e+04, 1.04000e+02, 7.80000e+01, 3.79000e+02,
       3.46000e+02, 2.15000e+02, 2.61000e+02, 3.34000e+02, 2.50000e+02,
       1.60000e+01, 3.10000e+01, 8.70000e+01, 2.98000e+02, 1.50000e+01,
       7.70000e+01, 1.87140e+04, 7.42200e+03, 6.50000e+01, 1.40000e+01,
       3.30000e+01, 1.66000e+02, 1.94000e+02, 1.12000e+02, 1.26000e+02,
       5.23000e+02, 1.30000e+01, 9.40000e+01, 1.10000e+01, 4.25000e+02,
       3.20000e+01, 5.00000e+00, 1.98700e+03, 1.27270e+04, 5.20000e+01,
       2.14000e+02, 1.69000e+02, 2.03000e+02, 1.70000e+02, 1.31000e+02,
       1.14000e+02, 1.13000e+02, 6.10000e+01, 2.24000e+02, 1.84000e+02,
       6.90000e+01, 5.10000e+01, 7.20000e+01, 9.00000e+01, 9.10000e+01,
       1.19000e+02, 2.44000e+02, 2.09000e+02, 1.97000e+02, 4.99000e+02,
       4.37000e+02, 4.14000e+02, 2.94000e+02, 3.09000e+02, 4.50000e+02,
       2.84000e+02, 7.90000e+02, 6.23000e+02, 5.56000e+02, 4.29000e+02,
       4.03000e+02, 4.45000e+02, 3.83000e+02, 3.66000e+02, 3.71000e+02,
       3.24000e+02, 3.47000e+02, 4.20000e+02, 3.43000e+02, 2.85000e+02,
       3.72000e+02, 2.79000e+02, 3.37000e+02, 4.22000e+02, 5.06400e+03,
       5.82700e+03, 3.18700e+03, 6.83400e+03, 3.85500e+03, 4.59700e+03,
       4.34700e+03, 6.61200e+03, 2.24500e+03, 3.69200e+03, 2.93700e+03,
       3.01300e+03, 2.26200e+03, 3.17500e+03, 2.26000e+02, 2.34000e+02,
       1.63000e+02, 2.39000e+02, 2.41000e+02, 1.86000e+02, 2.16000e+02,
       1.77000e+02, 1.45000e+02, 1.32000e+02, 1.09000e+02, 1.25000e+02,
       2.62000e+02, 7.40000e+01, 9.50000e+01, 1.80000e+02, 1.58000e+02,
       1.99000e+02, 1.46000e+02, 1.38000e+02, 1.28000e+02, 1.42000e+02,
       1.47000e+02, 1.35000e+02, 1.43000e+02, 1.06000e+02, 8.60000e+01,
       7.10000e+01, 1.30000e+02, 1.40000e+02, 1.21000e+02, 5.05000e+02,
       2.90000e+01, 2.70000e+01, 8.00000e+00, 1.90000e+01, 9.00000e+00,
       4.63100e+03, 5.12900e+03, 6.76000e+03, 5.53900e+03, 5.48200e+03,
       5.37400e+03, 5.30900e+03, 7.40900e+03, 6.97500e+03, 5.87900e+03,
       1.25620e+04, 3.93400e+03, 3.79400e+03, 4.11700e+03, 4.09400e+03,
       4.77300e+03, 2.84200e+03, 4.49200e+03, 4.15600e+03, 3.77200e+03,
       3.73100e+03, 4.55200e+03, 4.66500e+03, 5.22100e+03, 4.03400e+03,
       4.32400e+03, 4.53400e+03, 4.59900e+03, 4.97000e+03, 4.80300e+03,
       4.78700e+03, 4.34000e+03, 1.39000e+02, 5.00000e+01, 3.60000e+01,
       3.80000e+01, 1.20000e+01, 4.70000e+01, 4.40000e+01, 6.80000e+01,
       4.30000e+01, 2.00000e+01, 2.50000e+01, 2.30000e+01, 4.80000e+01,
       2.80000e+01, 2.08000e+02, 2.54000e+02, 1.57000e+02, 1.15000e+02,
       1.78000e+02, 1.62000e+02, 1.20000e+02, 1.72000e+02, 1.52000e+02,
       1.33000e+02, 1.68000e+02, 1.17000e+02, 1.85000e+02, 1.67000e+02,
       1.87000e+02, 2.68000e+02, 8.40000e+01, 1.27000e+02, 1.37000e+02,
       1.00000e+02, 9.90000e+01, 8.00000e+01, 1.05000e+02, 6.40000e+01,
       5.50000e+01, 7.30000e+01, 7.90000e+01, 8.20000e+01, 4.60000e+01,
       5.40000e+01, 7.00000e+01, 3.70000e+01, 7.50000e+01, 6.60000e+01,
       4.00000e+01, 6.00000e+01, 6.70000e+01, 4.50000e+01, 7.60000e+01,
       6.20000e+01, 8.50000e+01, 1.48000e+02, 1.53000e+02, 1.93000e+02,
       1.89000e+02, 1.96000e+02, 2.27000e+02, 7.77000e+02, 5.29000e+02,
       2.52000e+02, 3.23000e+02, 3.02000e+02, 2.88000e+02, 2.40000e+02,
       3.04000e+02, 3.35000e+02, 2.19000e+02, 2.12000e+02, 4.64000e+02,
       3.27400e+03, 3.95300e+03, 4.97300e+03, 3.83500e+03, 4.22900e+03,
       4.80600e+03, 4.09500e+03, 4.28900e+03, 3.21400e+03, 2.82600e+03,
       2.71700e+03, 2.88100e+03, 1.99400e+03, 2.07500e+03, 2.03900e+03,
       1.74100e+03, 1.83700e+03, 2.44200e+03, 2.31000e+03, 3.16200e+03,
       2.88500e+03, 2.44400e+03, 2.64400e+03, 2.41900e+03, 2.01600e+03,
       1.86900e+03, 1.91400e+03, 1.75300e+03, 2.66200e+03, 3.08100e+03,
       3.44300e+03, 1.21700e+03, 1.99100e+03, 1.85100e+03, 2.10500e+03,
       2.24700e+03, 2.33600e+03, 2.44000e+03, 3.24800e+03, 3.61900e+03,
       3.83700e+03, 3.28000e+03, 2.86000e+02, 4.10000e+01, 2.10000e+01,
       5.76100e+03, 1.59000e+02, 1.56000e+02, 3.33000e+02, 1.39300e+03,
       6.96400e+03, 1.13130e+04, 1.83600e+03, 1.79940e+04, 5.70000e+01,
       1.80000e+01, 1.18000e+02, 3.00000e+01, 3.90000e+01, 2.60000e+01,
       5.18000e+02, 2.20000e+01, 5.51000e+02, 1.15700e+03, 9.72000e+02,
       7.83000e+02, 8.09000e+02, 7.61000e+02, 6.95000e+02, 6.85000e+02,
       6.67000e+02, 4.11000e+02, 8.28000e+02, 6.99000e+02, 7.60000e+02,
       6.52000e+02, 7.29000e+02, 2.55200e+03, 1.45620e+04, 2.18000e+02,
       2.23000e+02, 2.77000e+02, 2.63000e+02, 2.43000e+02, 2.21000e+02,
       2.42000e+02, 1.81000e+02, 3.81000e+02, 4.28000e+02, 2.46000e+02,
       3.10000e+02, 2.71000e+02, 3.50000e+02, 1.18900e+03, 2.40000e+01,
       3.50000e+01, 5.60000e+01, 5.80000e+01, 4.90000e+01, 3.40000e+01,
       1.07000e+02, 8.90000e+01, 5.30000e+01, 8.80000e+01, 4.20000e+01,
       1.26100e+03, 9.99400e+03, 1.44000e+02, 5.33100e+03, 1.14100e+03,
       4.34000e+02, 3.17000e+02, 7.95000e+02, 6.49280e+04, 2.48670e+04,
       1.07300e+03, 1.11900e+03, 5.61000e+02, 8.88000e+02, 1.49000e+02,
       9.46000e+02, 1.18600e+03, 1.17700e+03, 1.11300e+03, 1.00600e+03,
       1.48800e+03, 1.20100e+03, 1.26200e+03, 3.19100e+03, 3.03700e+03,
       7.42700e+03, 7.57300e+03, 8.27800e+03, 3.73000e+02, 7.53000e+02,
       1.12590e+04, 8.72000e+02, 1.16000e+02, 9.60000e+01, 1.61000e+02,
       1.36000e+02, 1.55000e+02, 1.65000e+02, 2.00000e+02, 3.70000e+02,
       3.31000e+02, 3.14000e+02, 3.55000e+02, 5.47000e+02, 4.62000e+02,
       4.51000e+02, 4.05000e+02, 2.80000e+02, 4.19000e+02, 5.14000e+02,
       6.27000e+02, 4.21000e+02, 3.06000e+02, 3.08000e+02, 2.29000e+02,
       2.70000e+02, 3.75000e+02, 5.46000e+02, 4.39000e+02, 7.27000e+02,
       5.92000e+02, 5.98000e+02, 4.89000e+02, 4.79000e+02, 4.08000e+02,
       4.85000e+02, 4.97000e+02, 5.49000e+02, 3.38000e+02, 5.90000e+01,
       5.24000e+02, 5.90000e+02, 1.50000e+02, 4.92000e+02, 2.48400e+03,
       3.63000e+02, 1.23000e+02, 1.64000e+02, 9.20000e+01, 8.10000e+01,
       8.30000e+01, 2.06000e+02, 9.80000e+01, 6.43000e+02, 1.02700e+03,
       8.12000e+02, 6.00000e+02, 3.95800e+03, 1.78500e+03, 1.24470e+04,
       2.62020e+04, 5.16000e+03, 2.98700e+03, 1.24300e+03, 1.83000e+02,
       7.49000e+02, 1.70400e+03, 5.83000e+02, 6.61000e+02, 2.01000e+02,
       2.56000e+02, 1.08000e+02, 1.71000e+02, 1.39200e+03, 9.12700e+03,
       2.92940e+04, 5.01700e+03, 3.88000e+02, 1.31000e+03, 1.16700e+03,
       9.59000e+02, 9.34000e+02, 4.34300e+03, 3.53500e+04, 3.74510e+04,
       4.79380e+04, 5.45670e+04, 2.20000e+02, 1.75000e+02, 1.73000e+02,
       1.82000e+02, 3.13000e+02, 2.75000e+02, 3.26000e+02, 2.38000e+02,
       2.53000e+02, 1.91000e+02, 2.72000e+02, 2.95000e+02, 2.73000e+02,
       2.69000e+02, 3.00000e+02, 2.81000e+02, 3.61000e+02, 3.36000e+02,
       3.51000e+02, 3.19000e+02, 2.58000e+02, 3.07000e+02, 2.60000e+02,
       3.45000e+02, 3.74000e+02, 4.74000e+02, 4.65000e+02, 3.65000e+02,
       3.03000e+02, 3.44000e+02, 3.94000e+02, 3.85000e+02, 3.54000e+02,
       3.42000e+02, 2.13000e+02, 2.36000e+02, 1.90000e+02, 3.11000e+02,
       3.21000e+02, 3.01000e+02, 3.58000e+02, 2.90000e+02, 3.82000e+02,
       3.91000e+02, 2.99000e+02, 2.91000e+02, 3.32000e+02, 2.89000e+02,
       3.16000e+02, 3.27000e+02, 4.00000e+02, 4.09000e+02, 4.41000e+02,
       3.60000e+02, 4.31000e+02, 4.01000e+02, 5.58000e+02, 5.09000e+02,
       4.58000e+02, 4.82000e+02, 4.87000e+02, 5.01000e+02, 4.40000e+02,
       4.72000e+02, 4.53000e+02, 4.35000e+02, 3.98000e+02, 5.21000e+02,
       4.91000e+02, 3.92000e+02, 5.35000e+02, 5.28000e+02, 4.63000e+02,
       4.24000e+02, 4.49000e+02, 2.33000e+02, 4.46000e+02, 3.57000e+02,
       4.76000e+02, 4.26000e+02, 5.59000e+02, 4.69000e+02, 4.55000e+02,
       4.12000e+02, 5.89000e+02, 5.06000e+02, 4.90000e+02, 3.20000e+02,
       6.15000e+02, 6.49000e+02, 3.97000e+02, 3.87000e+02, 4.06000e+02,
       6.33000e+02, 5.42000e+02, 5.02000e+02, 6.25000e+02, 8.13000e+02,
       5.70000e+02, 4.88000e+02, 4.36000e+02, 3.67000e+02, 5.31000e+02,
       3.93000e+02, 4.16000e+02, 4.17000e+02, 4.13000e+02, 4.32000e+02,
       2.92000e+02, 3.29000e+02, 4.02000e+02, 2.67000e+02, 2.31000e+02,
       2.17000e+02, 4.07000e+02, 3.86000e+02, 3.77000e+02, 3.78000e+02,
       4.71000e+02, 1.15690e+04, 2.34100e+03, 1.92980e+04, 5.29200e+03,
       3.15000e+02, 1.34000e+03, 1.35100e+03, 9.94300e+03, 5.04100e+03,
       9.74000e+02, 1.41000e+02, 1.51000e+02, 1.03000e+02, 1.54000e+02,
       1.76000e+02, 1.01650e+04, 1.12840e+04, 6.81300e+03, 2.10030e+04,
       7.38500e+03, 7.34600e+03, 2.24540e+04, 1.25356e+05, 1.24500e+05,
       7.71750e+04, 7.02500e+03, 4.27900e+03, 9.26000e+02, 5.65800e+03,
       4.92900e+03, 3.69000e+02, 3.30000e+02, 9.85000e+02, 3.77900e+03,
       2.83400e+03, 1.13560e+04, 7.72000e+02, 1.91420e+04, 5.82000e+02,
       5.08000e+02, 2.45400e+03, 3.96000e+02, 3.25200e+03, 2.03100e+04,
       1.89530e+04, 8.38200e+03, 1.20600e+03, 1.88410e+04, 8.26000e+02,
       6.19090e+04, 2.23320e+04, 7.10000e+02, 7.75700e+03, 5.85000e+02,
       8.89000e+02, 5.78910e+04, 3.10280e+04, 8.48900e+04, 1.34235e+05,
       1.57667e+05, 2.06320e+04, 2.55000e+02, 1.34000e+02, 1.01000e+02,
       1.02000e+02, 2.49000e+02, 2.47000e+02, 2.82000e+02, 2.76000e+02,
       9.30000e+01, 1.24000e+02, 1.98000e+02, 1.10000e+02, 2.05000e+02,
       2.07000e+02, 2.65000e+02, 1.92000e+02, 1.74000e+02, 2.97000e+02,
       2.30000e+02, 2.22000e+02, 1.11000e+02, 3.90000e+02, 4.04000e+02,
       5.22000e+02, 4.67000e+02, 6.01000e+02, 6.64000e+02, 7.82000e+02,
       9.78000e+02, 9.21000e+02, 7.89000e+02, 6.65000e+02, 5.48000e+02,
       5.12000e+02, 6.17000e+02, 5.16000e+02, 4.52000e+02, 5.69000e+02,
       3.41000e+02, 2.59000e+02, 8.27000e+02, 9.31000e+02, 1.02400e+03,
       4.70000e+02, 5.54000e+02, 6.58000e+02, 5.63000e+02, 6.13000e+02,
       6.08000e+02, 6.24000e+02, 5.79000e+02, 5.73000e+02, 4.57000e+02,
       4.81000e+02, 5.13000e+02, 6.92000e+02, 6.60000e+02, 9.98000e+02,
       8.82000e+02, 6.78000e+02, 6.05000e+02, 6.91000e+02, 7.50000e+02,
       9.03000e+02, 5.95000e+02, 7.94000e+02, 8.49000e+02, 8.46000e+02,
       9.52000e+02, 9.44000e+02, 7.80000e+02, 1.03800e+03, 6.63000e+02,
       9.49000e+02, 1.00900e+03, 1.09000e+03, 3.80000e+02, 5.38000e+02,
       7.05000e+02, 6.37000e+02, 7.71000e+02, 7.76000e+02, 1.00700e+03,
       9.57000e+02, 5.43000e+02, 4.78000e+02, 5.94000e+02, 4.60000e+02,
       3.68000e+02, 4.86000e+02, 5.66000e+02, 4.42000e+02, 4.73000e+02,
       9.70000e+01, 1.22000e+02, 2.28000e+02, 3.05000e+02, 1.88000e+02,
       2.35100e+03])

In [46]:
train_quality['quality_0'].unique()

array([ 0.00000e+00,  2.00000e+00, -1.00000e+00,          nan,
        1.00000e+00,  3.00000e+00,  7.00000e+00,  6.00000e+00,
        4.08800e+03,  1.29000e+02,  3.18600e+03,  2.96000e+02,
        1.70000e+01,  6.30000e+01,  1.00000e+01,  9.04000e+02,
        4.00000e+00,  3.79000e+03,  1.62180e+04,  1.06280e+04,
        1.04000e+02,  7.80000e+01,  3.79000e+02,  3.46000e+02,
        2.15000e+02,  2.61000e+02,  3.34000e+02,  2.50000e+02,
        1.60000e+01,  3.10000e+01,  8.70000e+01,  2.98000e+02,
        1.50000e+01,  7.70000e+01,  1.87140e+04,  7.42200e+03,
        6.50000e+01,  1.40000e+01,  3.30000e+01,  1.66000e+02,
        1.94000e+02,  1.12000e+02,  1.26000e+02,  5.23000e+02,
        1.30000e+01,  9.40000e+01,  1.10000e+01,  4.25000e+02,
        3.20000e+01,  5.00000e+00,  1.98700e+03,  1.27270e+04,
        5.20000e+01,  2.14000e+02,  1.69000e+02,  2.03000e+02,
        1.70000e+02,  1.31000e+02,  1.14000e+02,  1.13000e+02,
        6.10000e+01,  2.24000e+02,  1.84000e+02,  6.90000e+01,
        5.10000e+01,  7.20000e+01,  9.00000e+01,  9.10000e+01,
        1.19000e+02,  2.44000e+02,  2.09000e+02,  1.97000e+02,
        4.99000e+02,  4.37000e+02,  4.14000e+02,  2.94000e+02,
        3.09000e+02,  4.50000e+02,  2.84000e+02,  7.90000e+02,
        6.23000e+02,  5.56000e+02,  4.29000e+02,  4.03000e+02,
        4.45000e+02,  3.83000e+02,  3.66000e+02,  3.71000e+02,
        3.24000e+02,  3.47000e+02,  4.20000e+02,  3.43000e+02,
        2.85000e+02,  3.72000e+02,  2.79000e+02,  3.37000e+02,
        4.22000e+02,  5.06400e+03,  5.82700e+03,  3.18700e+03,
        6.83400e+03,  3.85500e+03,  4.59700e+03,  4.34700e+03,
        6.61200e+03,  2.24500e+03,  3.69200e+03,  2.93700e+03,
        3.01300e+03,  2.26200e+03,  3.17500e+03,  2.26000e+02,
        2.34000e+02,  1.63000e+02,  2.39000e+02,  2.41000e+02,
        1.86000e+02,  2.16000e+02,  1.77000e+02,  1.45000e+02,
        1.32000e+02,  1.09000e+02,  1.25000e+02,  2.62000e+02,
        7.40000e+01,  9.50000e+01,  1.80000e+02,  1.58000e+02,
        1.99000e+02,  1.46000e+02,  1.38000e+02,  1.28000e+02,
        1.42000e+02,  1.47000e+02,  1.35000e+02,  1.43000e+02,
        1.06000e+02,  8.60000e+01,  7.10000e+01,  1.30000e+02,
        1.40000e+02,  1.21000e+02,  5.05000e+02,  2.90000e+01,
        2.70000e+01,  8.00000e+00,  1.90000e+01,  9.00000e+00,
        4.63100e+03,  5.12900e+03,  6.76000e+03,  5.53900e+03,
        5.48200e+03,  5.37400e+03,  5.30900e+03,  7.40900e+03,
        6.97500e+03,  5.87900e+03,  1.25620e+04,  3.93400e+03,
        3.79400e+03,  4.11700e+03,  4.09400e+03,  4.77300e+03,
        2.84200e+03,  4.49200e+03,  4.15600e+03,  3.77200e+03,
        3.73100e+03,  4.55200e+03,  4.66500e+03,  5.22100e+03,
        4.03400e+03,  4.32400e+03,  4.53400e+03,  4.59900e+03,
        4.97000e+03,  4.80300e+03,  4.78700e+03,  4.34000e+03,
        1.39000e+02,  5.00000e+01,  3.60000e+01,  3.80000e+01,
        1.20000e+01,  4.70000e+01,  4.40000e+01,  6.80000e+01,
        4.30000e+01,  2.00000e+01,  2.50000e+01,  2.30000e+01,
        4.80000e+01,  2.80000e+01,  2.08000e+02,  2.54000e+02,
        1.57000e+02,  1.15000e+02,  1.78000e+02,  1.62000e+02,
        1.20000e+02,  1.72000e+02,  1.52000e+02,  1.33000e+02,
        1.68000e+02,  1.17000e+02,  1.85000e+02,  1.67000e+02,
        1.87000e+02,  2.68000e+02,  8.40000e+01,  1.27000e+02,
        1.37000e+02,  1.00000e+02,  9.90000e+01,  8.00000e+01,
        1.05000e+02,  6.40000e+01,  5.50000e+01,  7.30000e+01,
        7.90000e+01,  8.20000e+01,  4.60000e+01,  5.40000e+01,
        7.00000e+01,  3.70000e+01,  7.50000e+01,  6.60000e+01,
        4.00000e+01,  6.00000e+01,  6.70000e+01,  4.50000e+01,
        7.60000e+01,  6.20000e+01,  8.50000e+01,  1.48000e+02,
        1.53000e+02,  1.93000e+02,  1.89000e+02,  1.96000e+02,
        2.27000e+02,  7.77000e+02,  5.29000e+02,  2.52000e+02,
        3.23000e+02,  3.02000e+02,  2.88000e+02,  2.40000e+02,
        3.04000e+02,  3.35000e+02,  2.19000e+02,  2.12000e+02,
        4.64000e+02,  3.27400e+03,  3.95300e+03,  4.97300e+03,
        3.83500e+03,  4.22900e+03,  4.80600e+03,  4.09500e+03,
        4.28900e+03,  3.21400e+03,  2.82600e+03,  2.71700e+03,
        2.88100e+03,  1.99400e+03,  2.07500e+03,  2.03900e+03,
        1.74100e+03,  1.83700e+03,  2.44200e+03,  2.31000e+03,
        3.16200e+03,  2.88500e+03,  2.44400e+03,  2.64400e+03,
        2.41900e+03,  2.01600e+03,  1.86900e+03,  1.91400e+03,
        1.75300e+03,  2.66200e+03,  3.08100e+03,  3.44300e+03,
        1.21700e+03,  1.99100e+03,  1.85100e+03,  2.10500e+03,
        2.24700e+03,  2.33600e+03,  2.44000e+03,  3.24800e+03,
        3.61900e+03,  3.83700e+03,  3.28000e+03,  2.86000e+02,
        4.10000e+01,  2.10000e+01,  5.76100e+03,  1.59000e+02,
        1.56000e+02,  3.33000e+02,  1.39300e+03,  6.96400e+03,
        1.13130e+04,  1.83600e+03,  1.79940e+04,  5.70000e+01,
        1.80000e+01,  1.18000e+02,  3.00000e+01,  3.90000e+01,
        2.60000e+01,  5.18000e+02,  2.20000e+01,  5.51000e+02,
        1.15700e+03,  9.72000e+02,  7.83000e+02,  8.09000e+02,
        7.61000e+02,  6.95000e+02,  6.85000e+02,  6.67000e+02,
        4.11000e+02,  8.28000e+02,  6.99000e+02,  7.60000e+02,
        6.52000e+02,  7.29000e+02,  2.55200e+03,  1.45620e+04,
        2.18000e+02,  2.23000e+02,  2.77000e+02,  2.63000e+02,
        2.43000e+02,  2.21000e+02,  2.42000e+02,  1.81000e+02,
        3.81000e+02,  4.28000e+02,  2.46000e+02,  3.10000e+02,
        2.71000e+02,  3.50000e+02,  1.18900e+03,  2.40000e+01,
        3.50000e+01,  5.60000e+01,  5.80000e+01,  4.90000e+01,
        3.40000e+01,  1.07000e+02,  8.90000e+01,  5.30000e+01,
        8.80000e+01,  4.20000e+01,  1.26100e+03,  9.99400e+03,
        1.44000e+02,  5.33100e+03,  1.14100e+03,  4.34000e+02,
        3.17000e+02,  7.95000e+02,  6.49280e+04,  2.48670e+04,
        1.07300e+03,  1.11900e+03,  5.61000e+02,  8.88000e+02,
        1.49000e+02,  9.46000e+02,  1.18600e+03,  1.17700e+03,
        1.11300e+03,  1.00600e+03,  1.48800e+03,  1.20100e+03,
        1.26200e+03,  3.19100e+03,  3.03700e+03,  7.42700e+03,
        7.57300e+03,  8.27800e+03,  3.73000e+02,  7.53000e+02,
        1.12590e+04,  8.72000e+02,  1.16000e+02,  9.60000e+01,
        1.61000e+02,  1.36000e+02,  1.55000e+02,  1.65000e+02,
        2.00000e+02,  3.70000e+02,  3.31000e+02,  3.14000e+02,
        3.55000e+02,  5.47000e+02,  4.62000e+02,  4.51000e+02,
        4.05000e+02,  2.80000e+02,  4.19000e+02,  5.14000e+02,
        6.27000e+02,  4.21000e+02,  3.06000e+02,  3.08000e+02,
        2.29000e+02,  2.70000e+02,  3.75000e+02,  5.46000e+02,
        4.39000e+02,  7.27000e+02,  5.92000e+02,  5.98000e+02,
        4.89000e+02,  4.79000e+02,  4.08000e+02,  4.85000e+02,
        4.97000e+02,  5.49000e+02,  3.38000e+02,  5.90000e+01,
        5.24000e+02,  5.90000e+02,  1.50000e+02,  4.92000e+02,
        2.48400e+03,  3.63000e+02,  1.23000e+02,  1.64000e+02,
        9.20000e+01,  8.10000e+01,  8.30000e+01,  2.06000e+02,
        9.80000e+01,  6.43000e+02,  1.02700e+03,  8.12000e+02,
        6.00000e+02,  3.95800e+03,  1.78500e+03,  1.24470e+04,
        2.62020e+04,  5.16000e+03,  2.98700e+03,  1.24300e+03,
        1.83000e+02,  7.49000e+02,  1.70400e+03,  5.83000e+02,
        6.61000e+02,  2.01000e+02,  2.56000e+02,  1.08000e+02,
        1.71000e+02,  1.39200e+03,  9.12700e+03,  2.92940e+04,
        5.01700e+03,  3.88000e+02,  1.31000e+03,  1.16700e+03,
        9.59000e+02,  9.34000e+02,  4.34300e+03,  3.53500e+04,
        3.74510e+04,  4.79380e+04,  5.45670e+04,  2.20000e+02,
        1.75000e+02,  1.73000e+02,  1.82000e+02,  3.13000e+02,
        2.75000e+02,  3.26000e+02,  2.38000e+02,  2.53000e+02,
        1.91000e+02,  2.72000e+02,  2.95000e+02,  2.73000e+02,
        2.69000e+02,  3.00000e+02,  2.81000e+02,  3.61000e+02,
        3.36000e+02,  3.51000e+02,  3.19000e+02,  2.58000e+02,
        3.07000e+02,  2.60000e+02,  3.45000e+02,  3.74000e+02,
        4.74000e+02,  4.65000e+02,  3.65000e+02,  3.03000e+02,
        3.44000e+02,  3.94000e+02,  3.85000e+02,  3.54000e+02,
        3.42000e+02,  2.13000e+02,  2.36000e+02,  1.90000e+02,
        3.11000e+02,  3.21000e+02,  3.01000e+02,  3.58000e+02,
        2.90000e+02,  3.82000e+02,  3.91000e+02,  2.99000e+02,
        2.91000e+02,  3.32000e+02,  2.89000e+02,  3.16000e+02,
        3.27000e+02,  4.00000e+02,  4.09000e+02,  4.41000e+02,
        3.60000e+02,  4.31000e+02,  4.01000e+02,  5.58000e+02,
        5.09000e+02,  4.58000e+02,  4.82000e+02,  4.87000e+02,
        5.01000e+02,  4.40000e+02,  4.72000e+02,  4.53000e+02,
        4.35000e+02,  3.98000e+02,  5.21000e+02,  4.91000e+02,
        3.92000e+02,  5.35000e+02,  5.28000e+02,  4.63000e+02,
        4.24000e+02,  4.49000e+02,  2.33000e+02,  4.46000e+02,
        3.57000e+02,  4.76000e+02,  4.26000e+02,  5.59000e+02,
        4.69000e+02,  4.55000e+02,  4.12000e+02,  5.89000e+02,
        5.06000e+02,  4.90000e+02,  3.20000e+02,  6.15000e+02,
        6.49000e+02,  3.97000e+02,  3.87000e+02,  4.06000e+02,
        6.33000e+02,  5.42000e+02,  5.02000e+02,  6.25000e+02,
        8.13000e+02,  5.70000e+02,  4.88000e+02,  4.36000e+02,
        3.67000e+02,  5.31000e+02,  3.93000e+02,  4.16000e+02,
        4.17000e+02,  4.13000e+02,  4.32000e+02,  2.92000e+02,
        3.29000e+02,  4.02000e+02,  2.67000e+02,  2.31000e+02,
        2.17000e+02,  4.07000e+02,  3.86000e+02,  3.77000e+02,
        3.78000e+02,  4.71000e+02,  1.15690e+04,  2.34100e+03,
        1.92980e+04,  5.29200e+03,  3.15000e+02,  1.34000e+03,
        1.35100e+03,  9.94300e+03,  5.04100e+03,  9.74000e+02,
        1.41000e+02,  1.51000e+02,  1.03000e+02,  1.54000e+02,
        1.76000e+02,  1.01650e+04,  1.12840e+04,  6.81300e+03,
        2.10030e+04,  7.38500e+03,  7.34600e+03,  2.24540e+04,
        1.25356e+05,  1.24500e+05,  7.71750e+04,  7.02500e+03,
        4.27900e+03,  9.26000e+02,  5.65800e+03,  4.92900e+03,
        3.69000e+02,  3.30000e+02,  9.85000e+02,  3.77900e+03,
        2.83400e+03,  1.13560e+04,  7.72000e+02,  1.91420e+04,
        5.82000e+02,  5.08000e+02,  2.45400e+03,  3.96000e+02,
        3.25200e+03,  2.03100e+04,  1.89530e+04,  8.38200e+03,
        1.20600e+03,  1.88410e+04,  8.26000e+02,  6.19090e+04,
        2.23320e+04,  7.10000e+02,  7.75700e+03,  5.85000e+02,
        8.89000e+02,  5.78910e+04,  3.10280e+04,  8.48900e+04,
        1.34235e+05,  1.57667e+05,  2.06320e+04,  2.55000e+02,
        1.34000e+02,  1.01000e+02,  1.02000e+02,  2.49000e+02,
        2.47000e+02,  2.82000e+02,  2.76000e+02,  9.30000e+01,
        1.24000e+02,  1.98000e+02,  1.10000e+02,  2.05000e+02,
        2.07000e+02,  2.65000e+02,  1.92000e+02,  1.74000e+02,
        2.97000e+02,  2.30000e+02,  2.22000e+02,  1.11000e+02,
        3.90000e+02,  4.04000e+02,  5.22000e+02,  4.67000e+02,
        6.01000e+02,  6.64000e+02,  7.82000e+02,  9.78000e+02,
        9.21000e+02,  7.89000e+02,  6.65000e+02,  5.48000e+02,
        5.12000e+02,  6.17000e+02,  5.16000e+02,  4.52000e+02,
        5.69000e+02,  3.41000e+02,  2.59000e+02,  8.27000e+02,
        9.31000e+02,  1.02400e+03,  4.70000e+02,  5.54000e+02,
        6.58000e+02,  5.63000e+02,  6.13000e+02,  6.08000e+02,
        6.24000e+02,  5.79000e+02,  5.73000e+02,  4.57000e+02,
        4.81000e+02,  5.13000e+02,  6.92000e+02,  6.60000e+02,
        9.98000e+02,  8.82000e+02,  6.78000e+02,  6.05000e+02,
        6.91000e+02,  7.50000e+02,  9.03000e+02,  5.95000e+02,
        7.94000e+02,  8.49000e+02,  8.46000e+02,  9.52000e+02,
        9.44000e+02,  7.80000e+02,  1.03800e+03,  6.63000e+02,
        9.49000e+02,  1.00900e+03,  1.09000e+03,  3.80000e+02,
        5.38000e+02,  7.05000e+02,  6.37000e+02,  7.71000e+02,
        7.76000e+02,  1.00700e+03,  9.57000e+02,  5.43000e+02,
        4.78000e+02,  5.94000e+02,  4.60000e+02,  3.68000e+02,
        4.86000e+02,  5.66000e+02,  4.42000e+02,  4.73000e+02,
        9.70000e+01,  1.22000e+02,  2.28000e+02,  3.05000e+02,
        1.88000e+02,  2.35100e+03])

In [70]:
train_quality['quality_3'].unique()

array([0], dtype=int64)

In [50]:
train_quality['quality_5'].unique()

array(['0', '4', '8', ..., '98,175', '7,998', '9,558'], dtype=object)

In [75]:
len(train_quality['quality_11'].unique())

12